<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="fragment/head">

<head th:replace="fragment/head.html::fragment-head"></head>
<th:block layout:fragment="page_css">
  <link rel="stylesheet" href="" th:href="@{/css/board/boardList.css}">
</th:block>
<th:block layout:fragment="page_js">
  <script defer th:src="@{/js/board/boardList.js}"></script>
<!--  <script defer th:src="@{/js/board/category.js}"></script>-->
</th:block>
<body>
<header th:replace="fragment/menu.html::fragment-global"></header>
<!--아이콘/검색창-->
<div th:replace="fragment/uppermost.html::beforeLoginUpm"></div>

<main th:data-cate-num="${cateNum}">
  <!-- 본문 -->
  <div class="liLiWrap">
    <div class="upperBox">
      <th:block th:each=" items :${subTitle}" th:if="${items.cateNum}==${cateNum}">
        <div class="liLiMenu" >관심리스트</div>
      </th:block>
    </div>

    <div class="liLiItems">

      <!-- start -->
      <div class="item"  th:each=" item : ${list}">
        <div class="post">
          <div class="img-wrap">
            <a href="" th:href="@{/board/{boardNum}/detail(boardNum=${item.boardNum},cateNum=${param.cateNum})}"><img src="https://cdn.pixabay.com/photo/2016/07/01/19/43/pretzels-1491789_960_720.jpg" alt=""></a>
          </div>
          <div class="caption" >
            <a href="" th:href="@{/board/{boardNum}/detail(boardNum=${item.boardNum},cateNum=${param.cateNum})}" class="postTitle"
               th:text="${item.boardTitle}">제목</a>
            <!-- check -->
            <div class="bookmark-container">
              <!--                                관심(체크박스) 생성 위치-->
            </div>
            <!-- check end -->
          </div>
          <div class="info">
            <span class="memId" th:text="${item.nickname}">By "회원명"</span>
            <span class="uploadTime" th:text="${item.boardDate}">(업로드 날짜)</span>
          </div>
        </div>
      </div>
      <!-- end -->

    </div>

  </div>
</main>

<!-- 게시판 하단 쪽번호, 검색창 -->
<div id="page_navi">
  <!-- 페이징 버튼 -->
  <div class="bbs-page">
    <!--이전페이지정보-->
    <th:block th:if="${pc.prev}">
      <a class="bbs-page-item" href="" th:href="@{/board/1(cateNum=${param.cateNum})}"><i
              class="fas fa-backward"></i></a>
      <a class="bbs-page-item" href=""
         th:href="@{/board/{reqPage}(reqPage=${pc.startPage-1}, cateNum=${param.cateNum})}"><i
              class="fas fa-angle-left"></i></a>
    </th:block>

    <!--페이지표시-->
    <th:block th:each="pnum : ${#numbers.sequence(pc.startPage,pc.endPage)}">
      <th:block th:if="${pnum != 0}">
        <!--                  <a class="bbs-page-item" th:classappend="${pc.rc.reqPage == pnum} ? 'active'" href="" th:href="@{|/board/${pnum}|}" th:text="${pnum}">1</a>-->
        <a class="bbs-page-item" th:classappend="${pc.rc.reqPage == pnum} ? 'active'" href=""
           th:href="@{/board/{reqPage}(reqPage=${pnum}, cateNum=${param.cateNum})}"
           th:text="${pnum}">1</a>
      </th:block>
    </th:block>

    <!--다음페이지정보-->
    <th:block th:if="${pc.next}">
      <a class="bbs-page-item" href=""
         th:href="@{/board/{reqPage}(reqPage=${pc.endPage+1}, cateNum=${param.cateNum})}"><i
              class="fas fa-angle-right"></i></a>
      <a class="bbs-page-item" href=""
         th:href="@{/board/{reqPage}(reqPage=${pc.finalEndPage}, cateNum=${param.cateNum})}"><i
              class="fas fa-forward"></i></a>
    </th:block>
  </div>

</div>

</div>

<!-- 게시판 최하단. 게시글 검색, 기타 등등 -->
<div id="post_search_bar">
  <select name="post_filter" id="post_filter">
    <option value="title">제목</option>
    <option value="author">작성자</option>
    <option value="mixed">제목+내용</option>
  </select>
  <input type="text" name="post_search" id="post_search"><button id="post_search_btn">검색</button>
</div>

<!-- 최하단 -->
<footer th:replace="fragment/footer.html::fragment-footer"></footer>
</body>

</html>