<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="fragment/head">

<head th:replace="fragment/head.html::fragment-head"></head>
<th:block layout:fragment="page_css">
  <link rel="stylesheet" href="" th:href="@{/css/board/bakingClass.css}">
</th:block>
<th:block layout:fragment="page_js">
  <script defer th:src="@{/js/board/category.js}"></script>
  <!-- 외부 JS파일 연결, 화면이 로딩 된 후 적용 -->
  <script defer src="" th:src="@{/js/board/bakingClass_ajax.js}"></script>
  <script defer src="" th:src="@{/js/board/bakingClass.js}"></script>

  <!-- 네이버, 카카오 지도 API. 기기가 달라지면 플랫폼 별도 추가 필요 -->
  <script type="text/javascript"
          src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=n7h0qk93da"></script>
  <script type="text/javascript"
          src="//dapi.kakao.com/v2/maps/sdk.js?appkey=13985b7a92d3ad25544564af1540eed1&libraries=services">
  </script>
</th:block>
<body>
<header th:replace="fragment/menu.html::fragment-global"></header>
<!--아이콘/검색창-->
<div th:replace="fragment/uppermost.html::beforeLoginUpm"></div>

<main th:data-cate-num="${cateNum}">
  <!-- 게시판 -->
  <div class="content_page">
    <!-- 게시판 상단 현 페이지 주소 표시, 정렬 콤보박스, 글쓰기 버튼 -->
    <!--            th:data-code="${cateNum}"-->
    <div id="page_status" >
      <th:block th:each=" sub : ${subTitle}">
        <div id="page_name" th:text="${sub.cateName}">지역별 클래스 검색</div>
      </th:block>

      <!-- order_wrapper = (order + write_btn) -->
      <div class="order_wrapper">
        <select name="order" id="post_order">
          <option value="">정렬기준</option>
          <option value="">아직미정</option>
          <option value="">조회수등</option>
        </select>
        <button id="bakingClassWriteBtn">글쓰기</button>
      </div>
    </div>

    <!-- 본문 -->
    <!-- 지역 선택창 -->
    <div class="cities-wrap">
      <div id="superBox">

        <div class="allCities">
          <button id="allCityBtn">전체</button>
        </div>
        <div class="superCity">
          <button class="cityBtn" data-super-id="Seoul">서울</button>
          <button class="cityBtn" data-super-id="Busan">부산</button>
          <button class="cityBtn" data-super-id="Daegu">대구</button>
          <button class="cityBtn" data-super-id="Incheon">인천</button>
          <button class="cityBtn" data-super-id="Gwangju">광주</button>
          <button class="cityBtn" data-super-id="Dajeon">대전</button>
          <button class="cityBtn" data-super-id="Ulsan">울산</button>
          <button class="cityBtn" data-super-id="Sejong">세종</button>
          <button class="cityBtn" data-super-id="Gyeonggi">경기</button>
          <button class="cityBtn" data-super-id="Gangwon">강원</button>
          <button class="cityBtn" data-super-id="Chungbuk">충북</button>
          <button class="cityBtn" data-super-id="Chungnam">충남</button>
          <button class="cityBtn" data-super-id="Jeonbuk">전북</button>
          <button class="cityBtn" data-super-id="Jeonnam">전남</button>
          <button class="cityBtn" data-super-id="Gyeongbuk">경북</button>
          <button class="cityBtn" data-super-id="Gyeongnam">경남</button>
          <button class="cityBtn" data-super-id="Jeju">제주</button>
        </div>
      </div>
      <div id="subBox">
        <!-- 군/구 체크박스가 출력될 자리 -->
        <!-- <span><input type="checkbox">${}</span> -->
      </div>
    </div>

    <!-- 본문 지도 디스플레이-->
    <div id="mapDisplay">
      <div id="map"></div>
    </div>

    <!-- 지도 아래 게시판 -->
    <div class="mapBoard">
      <div class="mapBoard_container">
        <div class="col uppermost">no</div>
        <div class="col uppermost">제목</div>
        <div class="col uppermost">작성자</div>
        <div class="col uppermost">작성일</div>
        <div class="col uppermost">조회수</div>

        <!-- db내용을 ListForm 형식에 맞게 표시하는 데 타임리프 반복문 필요 -->
        <th:block th:each=" item : ${list}">
          <div class="col" th:text="${item.boardNum}">게시물 번호</div>
          <a href="" class="col" id="boardTitle" th:text="${item.boardTitle}" th:href="@{/board/{boardNum}/detail(boardNum=${item.boardNum},cateNum=${param.cateNum})}">제목</a>
          <div class="col" th:text="${item.nickname}">작성자ID or Nickname</div>
          <div class="col" th:text="${#temporals.format(item.boardDate,'yy/MM/dd HH:dd')}">작성일</div>
          <div class="col" th:text="${item.boardHit}">조회수</div>
        </th:block>
      </div>
    </div>

    <!-- 페이징 버튼 -->
    <div class="bbs-page">
      <!--이전페이지정보-->
      <th:block th:if="${pc.prev}">
        <a class="bbs-page-item" href="" th:href="@{/board/1(cateNum=${param.cateNum})}"><i class="fas fa-angle-double-left"></i></a>
        <a class="bbs-page-item" href="" th:href="@{/board/{reqPage}(reqPage=${pc.startPage-1}, cateNum=${param.cateNum})}"><i class="fas fa-angle-left"></i></a>
      </th:block>

      <!--페이지표시-->
      <th:block th:each="pnum : ${#numbers.sequence(pc.startPage,pc.endPage)}">
        <th:block th:if="${pnum != 0}">
          <!--                  <a class="bbs-page-item" th:classappend="${pc.rc.reqPage == pnum} ? 'active'" href="" th:href="@{|/board/${pnum}|}" th:text="${pnum}">1</a>-->
          <a class="bbs-page-item" th:classappend="${pc.rc.reqPage == pnum} ? 'active'"
             href="" th:href="@{/board/{reqPage}(reqPage=${pnum}, cateNum=${param.cateNum})}" th:text="${pnum}">1</a>
        </th:block>
      </th:block>
      <!--                (cateNum=${param.cateNum})-->

      <!--다음페이지정보-->
      <th:block th:if="${pc.next}">
        <a class="bbs-page-item" href="" th:href="@{/board/{reqPage}(reqPage=${pc.endPage+1}, cateNum=${param.cateNum})}"><i class="fas fa-angle-right"></i></a>
        <a class="bbs-page-item" href="" th:href="@{/board/{reqPage}(reqPage=${pc.finalEndPage}, cateNum=${param.cateNum})}"><i class="fas fa-angle-double-right"></i></a>
      </th:block>
    </div>
  </div>

  </div>
</main>

<!-- 게시판 하단. 게시글 검색, 기타 등등 -->
<div id="post_search_bar">
  <select name="post_filter" id="post_filter">
    <option value="title">제목</option>
    <option value="author">작성자</option>
    <option value="mixed">제목+내용</option>
  </select>
  <input type="text" name="scan_post" id="scan_post"><button id="post_search_btn">검색</button>
</div>

<!-- 최하단 -->
<footer th:replace="fragment/footer.html::fragment-footer"></footer>

</body>


</html>