<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/d4b88f7572.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
  <!--css-->
  <link rel="stylesheet" href="/static/css/board/list.css" th:href="@{/css/board/boardList.css}">
  <!--  js-->
  <script defer src="" th:src="@{/js/board/boardList.js}"></script>
  <title>갤러리형 게시판</title>
</head>

<body>
<header>
  <!-- 로고, 클릭하면 메인 화면으로 이동 -->
  <a href="" th:href="@{/}" class="logo"><img src="" th:src="@{/img/logo.jpg}" alt="" width="150px"
                                              height="100px"></a>
  <!-- 상단 메뉴 -->
  <div class="category">
    <!-- 카테고리 구분, menu = depth1 -->
    <ul class="menu" >
      <li class="pcode">분야별 레시피</li>
      <li>|</li>
      <li class="pcode">테마별 레시피</li>
      <li>|</li>
      <li class="pcode">사진 팁</li>
      <li>|</li>
      <li class="pcode">베이킹 클래스 찾기</li>
      <li>|</li>
      <li class="pcode">커뮤니티</li>
    </ul>
    <!-- 드롭다운 -->
    <div class="dropdown-content">
      <!-- 각 url에 {reqPage}/{cateNum} -->
      <div class="depth2">
        <a href="#" th:href="@{/board/1?cateNum=11}" class="">제과</a>
        <a href="#" th:href="@{/board/1?cateNum=12}" class="">제빵</a>
        <a href="#" th:href="@{/board/1?cateNum=13}" class="">음료</a>
        <a href="#" th:href="@{/board/1?cateNum=14}" class="">노오븐 베이킹</a>
      </div>
      <div class="depth2">
        <a href="#" th:href="@{/board/1?cateNum=21}" class="">발렌타인 데이</a>
        <a href="#" th:href="@{/board/1?cateNum=22}" class="">할로윈</a>
        <a href="#" th:href="@{/board/1?cateNum=23}" class="">빼빼로 데이</a>
        <a href="#" th:href="@{/board/1?cateNum=24}" class="">크리스마스</a>
      </div>
      <div class="depth2">
        <a href="#" th:href="@{/board/1?cateNum=31}" class="">구도/각도</a>
        <a href="#" th:href="@{/board/1?cateNum=32}" class="">보정</a>
      </div>
      <div class="depth2">
        <a href="#" th:href="@{/board/1?cateNum=41}" class="">베이킹 클래스 찾기</a>
      </div>
      <div class="depth2">
        <a href="#" th:href="@{/board/1?cateNum=51}" class="">QnA</a>
        <a href="#" th:href="@{/board/1?cateNum=52}" class="">자유 게시판</a>
      </div>
    </div>
  </div>

  <!-- 우측상단 아이콘 -->
  <div class="icon">
    <ul class="icon_ul">
      <li><a href="#" class="searchBtn"><i class="fas fa-search"></i></a></li>
      <li><i class="far fa-user"></i></li>
      <li><i class="fas fa-bars"></i></li>
    </ul>
  </div>
</header>

<!-- 검색창 -->
<div class="container_search">
  <div class="search">
    <input class="search textbox" type="text" placeholder="검색어를 입력하세요.">
    <button class="search button">검색</button>
  </div>
</div>

<main th:data-cate-num="${cateNum}">
  <!-- 왼쪽 배너.-->
  <div id="leftCategory" >
    <th:block th:each=" super :${leftMenuTitle}">
      <div id="leftCategory_title" th:text="${super.cateName}">[super]</div>
    </th:block>
    <ul class="leftCategory_ul" >
      <th:block th:each=" items :${subTitle}">
        <li class="leftCategory_li" ><a href="" th:href="@{/board/1(cateNum=${items.cateNum})}"
                                        id="leftCategory_li" class="leftLi_a" th:text="${items.cateName}">[sub]</a></li>
      </th:block>
    </ul>
  </div>
  <!-- 본문 -->
  <div class="liLiWrap">
    <div class="upperBox">
      <th:block th:each=" items :${subTitle}" th:if="${items.cateNum}==${cateNum}">
        <div class="liLiMenu" th:text="${items.cateName}">[sub]</div>
      </th:block>
      <button type="button" id="writeBtn">글쓰기</button>
    </div>

    <div class="liLiItems">

      <!-- start -->
      <div class="item"  th:each=" item : ${list}">
        <div class="post">
          <div class="img-wrap">
            <a href="" th:href="@{/board/{boardNum}/detail(boardNum=${item.boardNum},cateNum=${param.cateNum})}"><img src="https://cdn.pixabay.com/photo/2016/07/01/19/43/pretzels-1491789_960_720.jpg" alt=""></a>
          </div>
          <div class="caption" >
            <a href="" th:href="@{/board/{boardNum}/detail(boardNum=${item.boardNum},cateNum=${param.cateNum})}" class="postTitle"
               th:text="${item.boardTitle}">제목</a>
            <!-- check -->
            <div class="bookmark-container">
              <!--                                관심(체크박스) 생성 위치-->
            </div>
            <!-- check end -->
          </div>
          <div class="info">
            <span class="memId" th:text="${item.nickname}">By "회원명"</span>
            <span class="uploadTime" th:text="${item.boardDate}">(업로드 날짜)</span>
          </div>
        </div>
      </div>
      <!-- end -->

    </div>

  </div>
</main>

<!-- 게시판 하단 쪽번호, 검색창 -->
<div id="page_navi">
  <!-- 페이징 버튼 -->
  <div class="bbs-page">
    <!--이전페이지정보-->
    <th:block th:if="${pc.prev}">
      <a class="bbs-page-item" href="" th:href="@{/board/1(cateNum=${param.cateNum})}"><i
              class="fas fa-backward"></i></a>
      <a class="bbs-page-item" href=""
         th:href="@{/board/{reqPage}(reqPage=${pc.startPage-1}, cateNum=${param.cateNum})}"><i
              class="fas fa-angle-left"></i></a>
    </th:block>

    <!--페이지표시-->
    <th:block th:each="pnum : ${#numbers.sequence(pc.startPage,pc.endPage)}">
      <th:block th:if="${pnum != 0}">
        <!--                  <a class="bbs-page-item" th:classappend="${pc.rc.reqPage == pnum} ? 'active'" href="" th:href="@{|/board/${pnum}|}" th:text="${pnum}">1</a>-->
        <a class="bbs-page-item" th:classappend="${pc.rc.reqPage == pnum} ? 'active'" href=""
           th:href="@{/board/{reqPage}(reqPage=${pnum}, cateNum=${param.cateNum})}"
           th:text="${pnum}">1</a>
      </th:block>
    </th:block>

    <!--다음페이지정보-->
    <th:block th:if="${pc.next}">
      <a class="bbs-page-item" href=""
         th:href="@{/board/{reqPage}(reqPage=${pc.endPage+1}, cateNum=${param.cateNum})}"><i
              class="fas fa-angle-right"></i></a>
      <a class="bbs-page-item" href=""
         th:href="@{/board/{reqPage}(reqPage=${pc.finalEndPage}, cateNum=${param.cateNum})}"><i
              class="fas fa-forward"></i></a>
    </th:block>
  </div>

</div>

</div>

<!-- 게시판 최하단. 게시글 검색, 기타 등등 -->
<div id="post_search_bar">
  <select name="post_filter" id="post_filter">
    <option value="title">제목</option>
    <option value="author">작성자</option>
    <option value="mixed">제목+내용</option>
  </select>
  <input type="text" name="post_search" id="post_search"><button id="post_search_btn">검색</button>
</div>

<!-- 하단 -->
<footer>
  <ul class="menu">
    <li>HOME CA:BE 운영팀:a@kh.com</li>
    <li>|</li>
    <li>이용약관</li>
    <li>|</li>
    <li>개인정보취급방침</li>
  </ul>
</footer>
</body>

</html>