<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="fragment/head">

<head th:replace="fragment/head.html::fragment-head"></head>
<th:block layout:fragment="page_css">
  <link rel="stylesheet" href="" th:href="@{/css/board/boardDetail.css}">
</th:block><th:block layout:fragment="page_js">
  <script defer th:src="@{/js/board/boardDetail.js}"></script>
  <script defer th:src="@{/js/board/category.js}"></script>
</th:block>
<body>
<header th:replace="fragment/menu.html::fragment-global"></header>
<!--아이콘/검색창-->
<div th:replace="fragment/uppermost.html::beforeLoginUpm"></div>
  <!-- 본문 -->
<main th:data-cate-num="${cateNum}">
  <!-- 왼쪽 배너.-->
  <div id="leftCategory" >
    <th:block th:each=" super :${leftMenuTitle}">
      <div id="leftCategory_title" th:text="${super.cateName}">[super]</div>
    </th:block>
    <ul class="leftCategory_ul" >
      <th:block th:each=" items :${subTitle}">
        <li class="leftCategory_li" ><a href="" th:href="@{/board/1(cateNum=${items.cateNum})}"
                                        id="leftCategory_li" class="leftLi_a" th:text="${items.cateName}">[sub]</a></li>
      </th:block>
    </ul>
  </div>
  <!-- 게시물 -->
  <div class="main_content">
    <form action="" th:action th:method="Get" th:object="${detailForm}">
      <div class="contentWrap" th:data-code="${cateNum}">
        <!-- 게시물 상단 -->
        <div class="content_top">
          <!--            <form action="" method="post" th:object="${detailForm}"></form>-->
          <div class="title" th:text="*{boardTitle}">휘낭시에 레시피</div>
          <!-- 제목 오른쪽 -->
          <div class="side">
            <!-- 등급, 닉네임, 좋아요 -->
            <div class="side_top">
              <ul class="top_ul">
                <!--                  <li><img src="/등급 아이콘/1.png" alt="" width="30px" height="30px"></li>-->
                <li class="top_ul_nickname" th:text="*{nickname}">알로하</li>
<!--                <li><i th:data-boardNum="*{boardNum}" class="far fa-heart"></i></li>-->
                <li><i th:data-boardNum="*{boardNum}" class="fas fa-heart toggleColorChange"></i></li>
              </ul>
            </div>
            <!-- 날짜, 조회수, 아이콘 -->
            <div class="side_bottom">
              <div class="upload_date" th:text="*{boardDate}">2022-03-03</div>
              <div class="hit" th:text="|조회수 *{boardHit}|">조회수 41</div>
              <div class="menu_icon">
                <i class="fas fa-bars">
                  <div class="menu_list">
                    <div class="side_menu1"
                         th:if="${session.loginMember != null && session.loginMember.memberNum.equals(board.memberNum)}">
                      <ul class="side_menu_list">
                        <li class="side_menu_item"><button href="#" role="button" class="updateBtn" id="boarUBtn">수정</button></li>
                        <li class="side_menu_item"><button href="#" role="button" class="deleteBtn" id="boardDBtn" th:data-boardNum="${boardNum}", th:data-cateNum="${cateNum}">삭제</button></li>
                      </ul>
                    </div>
                    <div class="side_menu2"
                         th:unless="${session.loginMember == null || session.loginMember.memberNum.equals(board.memberNum)}">
                      <a href="#" role="button" class="reportBtn" th:data-reportNum="${reportNum}" th:href="/">신고</a>
                    </div>

                  </div>
                </i>
              </div>
            </div>
          </div>
        </div>
        <!-- 게시물 내용 -->
        <div class="content_main">
          <img src="https://cdn.pixabay.com/photo/2016/07/01/19/43/pretzels-1491789_960_720.jpg" alt="">
          <p th:text="*{boardContent}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique sed labore ut tempora amet? Id, voluptatibus incidunt quis rem et amet ut excepturi minus, aliquid velit eum numquam quos cupiditate.
            Laboriosam, quaerat aliquid placeat quia, amet optio totam voluptatum illo nulla autem blanditiis architecto ipsa laborum debitis vel neque modi in cum! Fuga at unde officia tenetur distinctio vel delectus.
            Aliquam obcaecati eveniet soluta eligendi alias quibusdam recusandae harum, quis cum sed repellendus veniam minus culpa nostrum dolorem assumenda, illum corporis suscipit deserunt error accusantium doloribus minima placeat voluptates. Consequuntur.
            Beatae pariatur et perferendis, rerum quaerat dolor rem molestiae, architecto ab dolorum magni alias soluta sequi, temporibus adipisci laudantium a. Impedit perferendis quam eveniet cumque exercitationem ipsa, molestiae voluptatum saepe!
            Quam officia, tempora aliquid voluptas sequi debitis molestias ipsa cum ipsum deserunt, nam, eveniet itaque aut corporis. Molestiae, assumenda in doloribus labore libero ad a laudantium quo, iste reprehenderit maxime?
            Id alias facere rerum! Qui voluptatum dolorem cupiditate iste quisquam itaque similique, obcaecati rem magni quaerat eveniet quo ad! Natus blanditiis, sit voluptatibus quas quaerat autem dolores optio veritatis odit.
            Ea modi minima officiis exercitationem nam minus? Excepturi, dicta consequatur? Maiores saepe fuga quod omnis veritatis quo sit repudiandae obcaecati error, quos, necessitatibus iure quia magni aliquid voluptas ducimus earum?
            Asperiores, perferendis modi voluptatibus fugit quidem distinctio quasi ea, quisquam esse repellat officiis possimus? Hic, ab deserunt modi velit aliquam illo sapiente laborum, dignissimos perspiciatis vitae, a amet repellendus voluptas!
            Facilis aspernatur illo magni dolores provident! Ullam itaque esse eligendi facere, et at aliquid, sed delectus necessitatibus deleniti iste voluptatibus explicabo harum culpa quisquam exercitationem debitis autem animi. Laboriosam, vel!
            Repudiandae omnis rerum facere. Fuga, natus illo quas amet error, sequi dolorum impedit dolorem commodi tenetur vitae, animi cum voluptate! Excepturi nam, ratione rerum fuga exercitationem ex dicta possimus consequatur!</p>
        </div>

      </div>
      <!-- 댓글 -->
      <div class="repliedWrap">
        <!-- 댓글 상단 -->
        <div class="replied_top">댓글</div>
        <!-- 댓글 내용 -->
        <table>
          <tr th:each="reply : ${replyList}">
            <td width="20% th:text=${reply.nickname}"><img src="/등급 아이콘/1.png" alt="" width="15px" height="15px">알로하</td>
            <td width="55%" th:text="${reply.replyContent}">너무 맛있어 보여요~</td>
            <td width="20%" th:text="${reply.replyDate}">2022-03-04</td>
            <td width="5%" class="icon">
              <i class="fas fa-bars" >
                <div class="menu1" th:unless="${memberNum} == ${reply.memberNum}" >
                  <ul class="menu_list">
                    <li class="menu_item"><button class="reportBtn" id="reportRBtn" type="button"><a href="#">신고</a></button></li>
                  </ul>
                </div>
                <div class="menu2" th:if="${memberNum} == ${reply.memberNum}" >
                  <ul class="menu_list">
                    <li class="menu_item"><button class="updateBtn" id="replyUBtn" type="button">수정</button></li>
                    <li class="menu_item"><button class="deleteBtn" id="replyDBtn" type="button" th:data-boardNum="${reply.boardNum}", th:data-cateNum="${reply.cateNum}">삭제</button></li>
                  </ul>
                </div>
              </i>
            </td>
          </tr>
        </table>
        <!-- 댓글 작성 -->
        <div class="replied_bottom">
          <textarea name="reply" id="replyTextArea" cols="140" rows="5" placeholder="댓글을 입력하세요."></textarea>
          <button class="replyBtn" type="button" th:data-boardNum="${boardNum}"  th:data-cateNum="${cateNum}">등록</button>
        </div>

        <!--          &lt;!&ndash; 페이징 버튼 &ndash;&gt;-->
        <!--          <div class="bbs-page">-->
        <!--            &lt;!&ndash;이전페이지정보&ndash;&gt;-->
        <!--            <th:block th:if="${pc.prev}">-->
        <!--              <a class="bbs-page-item" href="" th:href="@{/board/1(cateCode=${param.cateCode})}"><i class="fas fa-angle-double-left"></i></a>-->
        <!--              <a class="bbs-page-item" href="" th:href="@{/board/{reqPage}(reqPage=${pc.startPage-1}, cateCode=${param.cateCode})}"><i class="fas fa-angle-left"></i></a>-->
        <!--            </th:block>-->

        <!--            &lt;!&ndash;페이지표시&ndash;&gt;-->
        <!--            <th:block th:each="pnum : ${#numbers.sequence(pc.startPage,pc.endPage)}">-->
        <!--              <th:block th:if="${pnum != 0}">-->
        <!--                <a class="bbs-page-item" th:classappend="${pc.rc.reqPage == pnum} ? 'active'"-->
        <!--                   href="" th:href="@{/board/{reqPage}(reqPage=${pnum}, cateCode=${param.cateCode})}" th:text="${pnum}">1</a>-->
        <!--              </th:block>-->
        <!--            </th:block>-->

        <!--            &lt;!&ndash;다음페이지정보&ndash;&gt;-->
        <!--            <th:block th:if="${pc.next}">-->
        <!--              <a class="bbs-page-item" href="" th:href="@{/board/{reqPage}(reqPage=${pc.endPage+1}, cateCode=${param.cateCode})}"><i class="fas fa-angle-right"></i></a>-->
        <!--              <a class="bbs-page-item" href="" th:href="@{/board/{reqPage}(reqPage=${pc.finalEndPage}, cateCode=${param.cateCode})}"><i class="fas fa-angle-double-right"></i></a>-->
        <!--            </th:block>-->
      </div>
    </form>
  </div>
</main>
<!-- 최하단 -->
<footer th:replace="fragment/footer.html::fragment-footer"></footer>
</body>
</html>