<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d4b88f7572.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/member/joinMember.css">
    <script defer src="" th:src="@{/js/member/joinMember.js}"></script>
    <title>Document</title>
</head>
<body>
<header>
    <!-- 로고 -->
    <div class="logo"><img src="/logo.jpg" alt="" width="180px" height="150px"></div>
    <!-- 상단 메뉴 -->
    <nav>
        <ul class="menu">
            <li>분야별 레시피</li>
            <li>|</li>
            <li>테마별 레시피</li>
            <li>|</li>
            <li>사진 팁</li>
            <li>|</li>
            <li>홈베이킹 클래스</li>
            <li>|</li>
            <li>Q&A</li>
            <li>|</li>
            <li>자유게시판</li>
        </ul>
    </nav>
    <!-- 우측상단 아이콘 -->
    <div class="icon">
        <ul class="icon_ul">
            <li ><a href="#" class="searchBtn"><i class="fas fa-search"></i></a></li>
            <li><i class="far fa-user"></i></li>
            <li><i class="fas fa-bars"></i></li>
        </ul>
    </div>
</header>

<!-- 검색창 -->
<!-- <div class="container_search">
    <div class="search">
        <input class="search textbox" type="text" placeholder="검색어를 입력하세요.">
        <button class="search button">검색</button>
    </div>
</div> -->

<!-- 회원가입 화면 -->
<main>
    <form id="joinMember" action="" method="post" th:method="post" th:action th:object="${joinForm}">
        <!-- 회원가입 텍스트 -->
        <div class="member_join">
            <b>회원가입</b>
        </div>

        <!-- 필수 입력사항 텍스트-->
        <p class="essential">필수입력사항</p>
        <!-- 필수 입력사항 내용 -->
        <div class="member_e">
            <div class="content m_name">
                <div class="item name">이름</div>
                <div class="item2">
                    <input type="text" name="m_e_name" class="m_e_name" th:field="*{name}"
                           th:class="${#fields.hasErrors('name') ? 'fieldError' : 'fieldSuccess'}" required>
                    <span class="errmsg"></span>
                    <li th:if="${#fields.hasErrors('name')}">
                        <p th:erros="*{name}" th:errorclass="filedError"></p>
                    </li>
                </div>
            </div>
            <div class="content m_id">
                <div class="item id">아이디</div>
                <div class="item2">
                    <input type="text" name="m_e_id" class="m_e_id" id="id" th:field="*{id}"
                           th:class="${#fields.hasErrors('id') ? 'fieldError' : 'fieldSuccess'}" required>
                    <button class="id_chk" id="idDubChk" type="button">중복확인</button>
                    <span>영문, 숫자 조합 2~20자 입력 가능</span>
                    <span class="errmsg"></span>
                    <!--                        <li th:if="${#fields.hasErrors('id')}">-->
                    <!--                            <p th:erros="*{id}" th:errorclass="fieldError"></p>-->
                    <!--                        </li>-->
                </div>
            </div>
            <div class="content m_pwd">
                <div class="item pwd">비밀번호</div>
                <div class="item2">
                    <input type="text" name="m_e_pwd" class="m_e_pwd" th:field="*{pw}"
                           th:class="${#fields.hasErrors('pw') ? 'fieldError' : 'fieldSuccess'}" required>
                    <span>영문, 숫자, 특수문자 조합으로 8~20자 입력 가능</span>
                    <span class="errmsg"></span>
                    <!--A-->
                </div>
            </div>
            <div class="content m_pwd_chk">
                <div class="item pwd_chk">비밀번호 확인</div>
                <div class="item2">
                    <input type="text" name="m_e_pwd_chk" class="m_e_pwd_chk" th:field="*{pw2}"
                           th:class="${#fields.hasErrors('pw2') ? 'fieldError' : 'fieldSuccess'}" required>
                    <span class="errmsg"></span>
                    <li th:if="${#fields.hasErrors('pw2')}">
                        <p th:erros="*{pw2}" th:errorclass="fieldError"></p>
                    </li>
                    <li th:if="${#fields.hasErrors('global')}">
                        <p th:erros="*{global}" th:errorclass="globalError"></p>
                    </li>
                </div>
            </div>
            <div class="content m_nickname">
                <div class="item nickname">닉네임</div>
                <div class="item2">
                    <input type="text" name="m_e_nickname" id="nickname" class="m_e_nickname" th:field="*{nickname}">
                    <button class="nickname_chk" id="nicknameDubChk" >중복확인</button>
                    <span class="errmsg"></span>
                </div>
                <li th:if="${#fields.hasErrors('nickname')}">
                    <p th:erros="*{nickname}" th:errorclass="fieldError"></p>
                </li>
            </div>
            <div class="content m_phone">
                <div class="item phone">연락처</div>
                <div class="item2">
                    <input type="text" name="tel1" class="m_e_phone" th:field="*{tel1}"
                           th:class="${#fields.hasErrors('tel1') ? 'fieldError' : 'fieldSuccess'}"required>
                    <span class="dash">-</span>
                    <input type="text" name="tel2" class="m_e_phone" th:fild="*{tel2}"
                           th:class="${#fields.hasErrors('tel2') ? 'fieldError' : 'fieldSuccess'}" required>
                    <span class="dash">-</span>
                    <input type="text" name="tel3" class="m_e_phone" th:field="*{tel3}"
                           th:class="${#fields.hasErrors('tel3') ? 'fieldError' : 'fieldSuccess'}" required>
                    <span class="errmsg"></span>
                    <li th:if="${#fields.hasErrors('tel1')}">
                        <p th:erros="*{tel1}" th:errorclass="fieldError"></p>
                    </li>
                    <!--                        <li th:if="${#fields.hasErrors('tel2')}">-->
                    <!--                            <p th:erros="*{tel2}" th:errorclass="fieldError"></p>-->
                    <!--                        </li>-->
                    <li th:if="${#fields.hasErrors('tel3')}">
                        <p th:erros="*{tel3}" th:errorclass="fieldError"></p>
                    </li>
                </div>
            </div>
            <div class="content m_email">
                <div class="item email">이메일</div>
                <div class="item2">
                    <input type="text" name="email" id="email" th:field="*{email}"
                           th:class="${#fields.hasErrors('email') ? 'fieldError' : 'fieldSuccess'}" required>
                    <button id="emailDubChk" type="button">중복확인</button>
                    <span class="errmsg"></span>
                </div>
            </div>
            <div class="content m_birth">
                <div class="item birth">생년월일</div>
                <div class="item2">
                    <input type="text" name="m_birth" class="m_birth" placeholder="생년월일(YYYYMMDD)" th:field="*{birth}"
                           th:class="${#fields.hasErrors('birth') ? 'fieldError' : 'fieldSuccess'}" required>
                    <span class="errmsg"></span>
                    <li th:if="${#fields.hasErrors('birth')}">
                        <p th:erros="*{birth}" th:errorclass="fieldError"></p>
                    </li>
                </div>
            </div>
            <div class="content m_sex">
                <div class="item male">성별</div>
                <div class="item2">
                    <label for="male">남자</label>
                    <input type="radio" name="gender" id="male" value="남" th:field="*{gender}">
                    <label for="female">여자</label>
                    <input type="radio" name="gender" id="female" value="여" th:field="*{gender}" checked="checked">
                </div>
            </div>
        </div>

        <!-- 가입하기 버튼 -->
        <div class="join_cafe">
            <button class="cafe" type="button" id="joinBtn"><b>가입하기</b></button>
        </div>
    </form>
</main>

<!-- 하단 -->
<footer>
    <ul class="menu">
        <li>HOME CA:BE 운영팀:a@kh.com</li>
        <li>|</li>
        <li>이용약관</li>
        <li>|</li>
        <li>개인정보취급방침</li>
    </ul>
</footer>
</body>
</html>