<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="fragment-head">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HOME CA:BE</title>

  <!--  fontAwesome-->
  <script src="https://kit.fontawesome.com/d4b88f7572.js" crossorigin="anonymous"></script>
  <!--    폰트 적용 -->
  <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
  <!--   common style-->
  <link rel="stylesheet" href="" th:href="@{/css/home/home.css}">
  <!--  common script-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script defer src="" th:src="@{/js/home/home.js}"></script>
</head>
<body>

</body>
</html>