@charset "utf-8";

/* 로그인 구현 페이지 */
section {
  margin-top: 100px;
  /* background-color: #fcf8f4; */
}
/* 로그인 윗부분 여백 */
.margin-top {
  width: 100%;
  height: 80px;
  /* background-color: #fcf8f4; */
}
/* 로그인 전체 범위 */
article {
  width: 800px;
  margin: 0 auto;
}
/* 로그인 상단 */
.login-title {
  height: 80px;
  padding-left: 25px;
  color: brown;
  line-height: 80px;
  font-size: 30px;
  background-color: wheat;
}
/* 로그인 내용 */
.login-body {
  height: 350px;
  display: flex;
  background-color: beige;
}
/* 왼쪽 영역 */
.login-body1 {
  height: 280px;
  width: 50%;
  padding-top: 40px;
  text-align: center;
  background-color: beige;
}
/* 아이디, 비밀번호 */
.id-class,
.pw-class {
  padding-bottom: 20px;
}

input::placeholder{
  font-size: 20px;
}

.id-textbox,
.pw-textbox {
  width: 300px;
  height: 60px;
  padding-left: 5px;
  border: 1px solid silver;
  font-size: 20px;
}
/* 로그인 버튼 */
.login-button {
  height: 65px;
  width: 305px;
  border: 1px solid silver;
  background-color: orange;
  font-size: 20px;
}
/* 자동로그인, 로그인저장 */
.login-checkbox {
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
}
/* 로그인 내용 좌우 구분선 */
.line-border {
  height: 300px;
  margin-top: 10px;
  border-right: 1px solid silver;
}
/* 오른쪽 영역 */
.login-body2 {
  width: 50%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
/* SNS 외부 API */
.login-sns {
  margin-top: 60px;
}
.login-naver,
.login-kakao,
.login-facebook {
  height: 70px;
  width: 300px;
  margin-bottom: 15px;
}
/* 로그인 하단 */
.login-bottom {
  width: 60%;
  margin: 50px auto;
  text-align: center;
}
/* 회원가입, 아이디/비밀번호 찾기 */
.login-text {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 25px;
}


/* @media screen and (max-width:400px) {
  article {
    width: 350px;
  }
  .login-body {
    display: flex;
    flex-direction: column;
    height: 500px;
  }
  .login-body1 {
    width: 350px;
    text-align: center;
  }
  .id-textbox,
  .pw-textbox {
    width: 300px;
  }
  .login-button {
    width: 300px;
  }
  .login-body2 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .line-border {
    display: none;
  }
} */
