<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="fragment/head">

<head th:replace="fragment/head.html::fragment-head"></head>
<th:block layout:fragment="page_css">
  <link rel="stylesheet" href="" th:href="@{/css/login/showPW.css}">
</th:block>
<body>
<header th:replace="fragment/menu.html::fragment-global"></header>
<!--아이콘/검색창-->
<div th:replace="fragment/uppermost.html::beforeLoginUpm"></div>
<!-- 아이디 확인 시작-->
<!-- 타이틀 내용 -->
  <article>
    <div class="showPW-top">HOME CA:BE 비밀번호 확인</div>
    <div class="showPW-mid">
      <li>비밀번호는&nbsp;&nbsp;&nbsp;입니다</li>
    </div>
  </article>
<!-- 하단 -->
  <div class="bottom-text">
    <div><a href="" th:href="@{/}">홈으로 돌아가기</a></div>
  </div>
<!-- 최하단 -->
<footer th:replace="fragment/footer.html::fragment-footer"></footer>
</body>

</html>