@charset "utf-8";

/* main */
main {
    height: 1400px;
    width: 80%;
    min-width: 1400px;
    margin: auto;
    margin-top: 200px;
    display: flex;
}

/* 왼쪽 카테고리 */
#leftCategory {
    width: 13%;
    height: 400px;
    background-color: white;

    display: flex;
    flex-direction: column;
    text-align: center;
}

#leftCategory_title {
    height: 10%;
    padding: 10px 0;
    border-radius: 10px;
    font-size: 18pt;
    font-weight: bold;
    line-height: 40px;
    background-color: #FBD786;
}

.leftCategory_ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.leftCategory_li {
    height: 25%;
    border-bottom: solid 1px black;
    font-size: 18pt;
}

.leftLi_a {
    line-height: 84px;
}

/* 게시물 */
.main_content{
    flex-direction: column;
    width: 70%;
    margin-left: 100px;
}

.contentWrap{
    border: 1px solid black;

}

/* 게시물 상단 공통*/
ul li{
    list-style: none;
}

.content_top{
    margin: 30px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content_top .title{
    font-size: 30px;
}
.content_top .side{
    width: 150px;
    padding-top: 10px;
    font-size: 25px;
}

/* 등급, 닉네임, 좋아요 */
.content_top .side_top{
    margin-top: 20px 0;
}

.content_top .side_top>ul{
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style: none;
}

.content_top .side_top>ul>li{
    margin: 0 5px;
}


/* 날짜, 조회수, 아이콘 */
.content_top .side_bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
    margin-top: 30px;
}

.content_top .side_bottom .upload_date{
    line-height: 25px;
}

/* 신고 */
.side_menu1 {
    width: 50px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid black;
}

/* 수정, 삭제 */
.side_menu2 .side_menu_item{
    width: 50px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid black;
}

/* 게시물 내용 */
.content_main{
    margin: 0 20px;
    font-size: 20px;
}

/* 댓글 공통 */
.repliedWrap{
    margin-top: 50px;
    border: 1px solid black;

}

.replied_top{
    margin: 10px 20px;
    border-bottom: 1px solid gray;
    font-size: 30px;
    text-align : start;
}

/* 댓글 내용*/
table{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    text-align : start;
}

table tbody td{
    padding-left: 20px;
    font-size: 20px;
}

table tbody .icon{
    padding-right: 20px;
    text-align: end;
}

.menu_list{
    list-style: none;
    text-align: end;
}

.menu1 .menu_item{
    width: 50px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    position: relative;
    left: 960px;
    border: 1px solid black;
}

.menu2 .menu_item{
    width: 50px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    position: relative;
    left: 960px;
    border: 1px solid black;
}

.replied_bottom{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    margin: 30px 20px;
}

.replied_bottom .submit{
    width: 50px;
    height: 30px;
    margin-top: 30px;
}
