@charset "utf-8";

*{
    /* outline: red 1px solid; */
    font-family: 'Jua', sans-serif;
    padding: 0;
    margin: 0;
    color: #594440;
    background-color: #fcf8f4;
   }

   a{
    color: #000;
    text-decoration: none;
   }

   header{
    height: 100px;
    width: 80%;
    min-width: 1300px;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
   }

   /* 상단 메뉴, 아이콘 모양 */
   .icon_ul,
   .menu{
     height: 100px;
     list-style: none;
     display: flex;
     align-items: center;
   }
   .menu>li{
     height: 2em;
     margin:8px 12px;
     font-size: 25px;
   }

    /* 메뉴 박스 */
    .category{position: relative;}

   /* 드롭다운 구현 */
    .dropdown-content{
        /* 숨기기 */
        display: none;
        position: absolute;
        z-index: 1000;

    }
    /* 펼치기 */
    .category:hover .dropdown-content {
        transition: all .5s ease-out;
        /* background-color: black; */
        width: 100%; height: inherit;
        display: block;
        transition: ease-in-out .5s;
        display: grid;
        grid-template-columns: 1fr 1fr 0.75fr 1.3fr 0.65fr;
    }
    .depth2{
        display: flex; flex-direction: column;
        width: inherit;
        height: 50px; line-height: 50px;
        margin: 0 auto;
        font-size: 20px;
        text-align: center;
    }
    /* 마우스 호버링 컬러 */
    .dropdown-content > div > a:hover{ background-color: black; color: white; }
      /* 우측 상단 아이콘 */
      .icon li{
        margin:8px 12px;
        font-size: 30px;
        }

  /* 검색창 */
.search{
    height: 40px;
    width: 25%;
    margin: 0 auto;
    display: flex;
}

.search.textbox{
    height: 30px;
    width: 80%;
    text-align:start;
    font-size: 25px;
}

.search.button{
    height: 35px;
    width: 50px;
    padding-left: 10px;
    line-height: 35px;
    font-size: 16px;
}


  /* main */
  main {
    height: 650px;
    width: 80%;
    min-width: 1400px;
    margin: auto;
    margin-top: 100px;
    display: flex;
  }

/* 왼쪽 카테고리 */
#leftCategory {
    width: 13%; height: 400px;
    background-color: white;

    display: flex;
    flex-direction: column;
    text-align: center;
}

#leftCategory_title {
    height: 10%;
    padding: 10px 0;
    border-radius: 10px;
    font-size: 18pt;
    font-weight: bold;
    line-height: 40px;
    background-color: #FBD786;
}
.leftCategory_ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
}
.leftCategory_li {
    height: 25%;
    border-bottom: solid 1px black;
    font-size: 18pt;
}
#leftCategory_li:hover{ color: #F37335; }

.leftLi_a{
    line-height: 84px;
}


/* 본문 */
.liLiWrap {
    width: 70%;
    margin-left: 100px;
}

/* 왼쪽 배너 글씨 */
.liLiWrap .liLiMenu{
    margin: 10px 10px;
    padding-left: 20px;
    border-left: 4px solid #F37335;
    font-size: 35px;
    max-height: 45px;
}

/* 게시물 */
.mapBoard{
  margin: 30px 20px 0 20px;
}

.mapBoard_container{
  display: flex;
  justify-content: center;
  background-color: white;

  box-sizing: border-box;
  border: 1px solid #594440;

  display: grid;
  grid-template-columns: 150px 1fr 200px 150px 100px;
  grid-auto-rows: 50px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;

text-align: center;
}
#boardTitle{ text-align: left;}

.col.uppermost{
 line-height: 50px;
 font-weight: bold;
 border-bottom: 1px solid #594440;
background-color: #fbd786;
}
.col{
 line-height: 40px;
 font-size: 14pt;
 color: #594440;
background-color: white;

 border-bottom: 1px dashed #594440;
}
.col.last{
 border: 0;
}

  /* 페이징 */
.bbs-page{
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }

  .bbs-page .bbs-page-item{
    display:inline-block;
    width:24px;
    height:24px;
    padding:2px;
    text-align: center;
  }

  .bbs-page .bbs-page-item.active{
    background-color:#333;
    color:white;
  }
  /* end of main */


  /* 게시판 최하단. 게시글 검색, 기타 등등 */
  /* 게시글 검색 */
  #post_search_bar {
      width: 80%;
      margin: 30px auto 50px;

      display: flex;
      justify-content: end;
  }
  /* 검색창 input */
  #post_search {
      width: 200px; height: 20px;
      border: 1px solid black;
      margin: 0; padding: 0;
      background-color: white;
  }
  /* 검색 버튼 */
  #post_search_btn {
      width: 55px;
      margin-left: 5px;
      color: black;
  }

  /* 사이트 방침 */
  footer{
    border-top: 1px solid darkgreen;
    min-width: 1300px;
  }
  footer>ul{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
